body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #360909;
    font-family: Arial, sans-serif;
}

.stopwatch {
    text-align: center;
    background: rgb(150, 96, 96);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(89, 36, 36, 0.1);
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#laps {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

#laps li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
